<mat-card class="card">
  <mat-card-title class="card__title {{ cardData.color }}"></mat-card-title>
  <mat-card-content>
    <div class="card__table">
      <div class="card__time">{{ cardData.time }}</div>
      <ol>
        <li *ngFor="let item of cardData.members">{{ item }}</li>
      </ol>
    </div>
    <div class="card__actions">
      <button mat-stroked-button color="warn" (click)="deleteClickHandler()">
        <mat-icon>delete</mat-icon>
      </button>
      <button mat-raised-button color="primary" (click)="editClickHandler()">
        Редактировать
      </button>
    </div>
  </mat-card-content>
</mat-card>
