.board {
  height: 100%;

  &__bar {
    padding: 1rem;
  }

  &__wrapper {
    overflow-x: auto;
  }

  &__column {
    margin-left: 2rem;
    height: 100%;
    overflow-y: auto;

    &:first-child {
      margin: 0;
    }
  }
}
