<div class="column">
  <h2 class="mat-subheading-2 text-center mb-2">{{ columnData.title }}</h2>
  <div
    cdkDropList
    class="column__list flex-grow-1"
    [cdkDropListData]="cardsData"
    (cdkDropListDropped)="drop($event)"
  >
    <app-lesson-card
      cdkDrag
      *ngFor="let card of cardsData; let i = index"
      [cardData]="cardsData[i]"
      (onCardEvent)="cardEventsHandler($event)"
    ></app-lesson-card>
  </div>

  <button
    class="column__additem"
    mat-button
    color="accent"
    (click)="addCardHandler()"
  >
    <mat-icon>add_circle</mat-icon>
    <span class="ml-1">Добавить занятие</span>
  </button>
</div>
